/* definições de atributos de tamanho de tela para responsividade = mida query (consulta de acordo com a midia: monitor, celular, etc */



.container {
        width: 960px;
        height: 1024px;
        margin: 0 auto;
        
    } 

.noticia {
        width: 300px;
        height: 169px;
        padding-right: 20px;
        float:left;
    }


    