body{
    font-family: lato, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.botao{
    background-color: #ff397e;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    box-shadow: 0px 6px 0px 0px #a32751;
    border-radius: 3px;
    text-align: center
    
}




header{
    margin-bottom: -90px;
}
header h1{
    margin: 0;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 78px;
    margin-top: 10px;
    
}

header h1 span {
    visibility: hidden;
    
}

header nav li{
    list-style: none;
    display: inline-block;
    margin-right: 80px;
}

header nav li:last-child {
    border: 1px solid #fff;
    border-radius: 3px; 
    padding: 10px 30px 10px 30px;
}


header nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    
     
}

header nav ul {
    padding-right: 80px;
    margin: 0;
    margin-top: 20px;
}



section#topo {
    background-image: url(images/fundo.png);
    height: 700px;
    background-size: cover;
    
}

section#topo .chamada {  
    color: #fff;
    margin-top: 200px;
    text-align: center;
}


section#topo .chamada h2 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
} 

section#topo .chamada p {
    font-size: 36px;  
    margin: 0;
    margin-bottom: 20px;
}

section#topo .chamada a {
    background-color: #ff397e;
}






section#conheca{
    padding: 70px;
}

section#conheca .texto {
    padding: 70px;
    padding-top: 30px;
    padding-right: 30px;
}

section#conheca .texto h2 {
    font-size: 36px;
}

section#conheca .texto p {
    font-size: 24px;
}


section#conheca .texto a {
    width: 70%;
    font-size: 30px;
}





@media (max-width:600px){
    header nav {
        display: none;
    }
    header h1 {
        margin-left: 20px;
        
    }
}

